/*--------------------------OMOSS-SIDA-----------------------------------*/


.information-boxes-container {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.box-headline {
    font-size: 150%;
  }
  .information-container {
    position: relative;
    height: 50vh;
    width: 80%;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: 5vh;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 10vw 0 0vw;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: info-container-animation-1;
  }
  .information-container:nth-of-type(even) {
    flex-flow: row-reverse;
    padding: 0 0vw 0 10vw;
    animation-name: info-container-animation-2;
  }
  
  @keyframes info-container-animation-1 {
    from {
      left: -100vw;
    }
    to {
      left: 0vw;
    }
  }
  
  @keyframes info-container-animation-2 {
    from {
      right: -100vw;
    }
    to {
      right: 0vw;
    }
  }
  
  .information-container:last-of-type {
    margin-bottom: 10vh;
  }
  
  .about-box-container-right,
  .about-box-container-right-2,
  .about-text-container-right,
  .about-text-container-right-2 {
    text-align: right;
  }
  
  .about-box-container-left,
  .about-text-container-left,
  .about-box-container-right,
  .about-box-container-right-2,
  .about-text-container-right,
  .about-text-container-right-2 {
    position: relative;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    clear: both;
  }
  
  .about-text-container-left,
  .about-text-container-right,
  .about-text-container-right-2 {
    color: white;
    font-size: 120%;
    margin: 10% 0 auto 0;
    width: 40%;
  }
  
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5 {
    height: 80%;
    width: 70%;
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 10%;
    background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
      #a9cec2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 70%;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 12%;
    background: rgba(169, 206, 194, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .about-decoration-box-3 {
    top: 10%;
    left: 20%;
    background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
      #4e5860;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-4 {
    top: 15%;
    left: 15%;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-5 {
    top: 8%;
    left: 10%;
    background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
      #a9cec2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-6 {
    top: 12%;
    left: 12%;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3 {
    height: 70%;
    width: 70%;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    top: 16%;
    left: 15%;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .img-1,
  .img-2,
  .google-maps {
    height: 100%;
    width: 100%;
  }
  
  .about-decoration-img-2 {
    top: 12%;
    left: 14%;
  }
  
  .about-decoration-img-3 {
    top: 15%;
    left: 15%;
  }
  