/*--------------------------OMOSS-SIDA-----------------------------------*/

.box-headline {
    font-size: 2rem;
  }
  
  .information-container {
    position: relative;
    height: 50vh;
    width: 85vw;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-self: center;
    margin-top: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: baseline;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-right: 10vw;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: info-container-animation-1;
  }
  .information-container:nth-of-type(even) {
    flex-flow: row-reverse;
    padding-left: 10vw;
    animation-name: info-container-animation-2;
  }
  
  @keyframes info-container-animation-1 {
    from {
      left: -100vw;
    }
    to {
      left: 0vw;
    }
  }
  
  @keyframes info-container-animation-2 {
    from {
      right: -100vw;
    }
    to {
      right: 0vw;
    }
  }
  
  .information-container:last-of-type {
    margin-bottom: 10vh;
  }
  
  .about-box-container-left,
  .about-text-container-left {
    float: left;
  }
  .about-box-container-right,
  .about-text-container-rightt {
    float: right;
  }
  
  .about-box-container-left,
  .about-text-container-left,
  .about-box-container-right,
  .about-text-container-right {
    position: relative;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
  }
  
  .about-text-container-left,
  .about-text-container-right {
    color: white;
    margin-bottom: 7%;
  }
  
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5 {
    height: 30vh;
    width: 20vw;
    position: absolute;
    z-index: 0;
    top: 12%;
    left: 20%;
    background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
      #a9cec2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 30vh;
    width: 20vw;
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 25%;
    background: rgba(169, 206, 194, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .about-decoration-box-3 {
    height: 35vh;
    width: 20vw;
    top: 10%;
    left: 58%;
    background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
      #4e5860;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-4 {
    height: 35vh;
    width: 21vw;
    top: 12%;
    left: 50%;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-5 {
    height: 35vh;
    width: 20vw;
    top: 8%;
    left: 18%;
    background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
      #a9cec2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-box-6 {
    width: 25vw;
    height: 35vh;
    top: 12%;
    left: 19%;
    background: rgba(78, 88, 96, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3 {
    height: 30vh;
    width: 20vw;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    top: 16%;
    left: 28%;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .img-1,
  .img-2,
  .google-maps {
    height: 100%;
    width: 100%;
  }
  
  .about-decoration-img-2 {
    top: 14%;
    left: 42%;
  }
  
  .about-decoration-img-3 {
    top: 15%;
    left: 20%;
  }
  
  /*EXTRA SMALL DEVICES (MOBIL) - OMOSS */
  @media only screen and (max-width: 600px) {
    .box-headline {
      font-size: 125%;
    }
  
    .information-container {
      position: relative;
      height: 30vh;
      max-height: 40vh;
      min-width: 85vw;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: content-box;
      align-self: center;
      margin-top: 2vh;
      display: flex;
      flex-flow: row;
      padding-right: 2vw;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: info-container-animation-1;
    }
    .information-container:nth-of-type(even) {
      flex-flow: row-reverse;
      align-content: flex-start;
      padding-left: 2vw;
      animation-name: info-container-animation-2;
    }
  
    @keyframes info-container-animation-1 {
      from {
        left: -100vw;
      }
      to {
        left: 0vw;
      }
    }
  
    @keyframes info-container-animation-2 {
      from {
        right: -100vw;
      }
      to {
        right: 0vw;
      }
    }
  
    .information-container:last-of-type {
      margin-bottom: 5vh;
      padding-right: 0px;
    }
  
    .about-box-container-left,
    .about-text-container-left {
      float: left;
      text-align: left;
    }
    .about-box-container-right,
    .about-text-container-right {
      float: right;
      text-align: right;
    }
  
    .about-box-container-left,
    .about-text-container-left,
    .about-box-container-right,
    .about-text-container-right,
    .about-text-container-right-2 {
      position: relative;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
      padding-top: 5vh;
    }
  
    .about-text-container-left,
    .about-text-container-right,
    .about-text-container-right-2 {
      color: white;
      margin-bottom: 0%;
      font-size: 70%;
    }
  
    .about-text-container-right-2 {
      position: absolute;
      right: 2vw;
      text-align: right;
    }
  
    .about-decoration-box-1,
    .about-decoration-box-3,
    .about-decoration-box-5 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 0;
      top: 20%;
      left: 4%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-2,
    .about-decoration-box-4,
    .about-decoration-box-6 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 1;
      top: 16%;
      left: 12%;
      background: rgba(169, 206, 194, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-3 {
      height: 60%;
      width: 80%;
      top: 14%;
      left: 17%;
      background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
        #4e5860;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-4 {
      height: 60%;
      width: 80%;
      top: 12%;
      left: 12%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-5 {
      height: 60%;
      width: 40%;
      top: 15%;
      left: 6%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-6 {
      height: 60%;
      width: 40%;
      top: 12%;
      left: 2%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-img-1,
    .about-decoration-img-2 {
      height: 60%;
      width: 80%;
      position: absolute;
      box-sizing: border-box;
      z-index: 2;
      top: 18%;
      left: 8%;
      background-color: black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .img-1,
    .img-2,
    .google-maps {
      height: 100%;
      width: 100%;
    }
  
    .about-decoration-img-2 {
      top: 18%;
      left: 15%;
    }
  
    .about-decoration-img-3 {
      height: 18vh;
      width: 35vw;
      top: 18%;
      left: 4%;
    }
  }
  /*SMALL*/
  @media only screen and (min-width: 600px) {
    .box-headline {
      font-size: 150%;
    }
  
    .information-container {
      position: relative;
      height: 30vh;
      max-height: 40vh;
      width: 90vw;
      margin-left: 10vw;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      align-self: center;
      margin-top: 2vh;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-content: flex-end;
      padding-right: 2vw;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: info-container-animation-1;
    }
    .information-container:nth-of-type(even) {
      flex-flow: row-reverse;
      align-content: flex-start;
      padding-left: 2vw;
      animation-name: info-container-animation-2;
    }
  
    @keyframes info-container-animation-1 {
      from {
        left: -100vw;
      }
      to {
        left: 0vw;
      }
    }
  
    @keyframes info-container-animation-2 {
      from {
        right: -100vw;
      }
      to {
        right: 0vw;
      }
    }
  
    .information-container:last-of-type {
      margin-bottom: 5vh;
      padding-right: 0px;
    }
  
    .about-box-container-left,
    .about-text-container-left {
      float: left;
      text-align: left;
    }
    .about-box-container-right,
    .about-text-container-right {
      float: right;
      text-align: right;
    }
  
    .about-box-container-left,
    .about-text-container-left,
    .about-box-container-right,
    .about-text-container-right,
    .about-text-container-right-2 {
      position: relative;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
    }
  
    .about-text-container-left,
    .about-text-container-right,
    .about-text-container-right-2 {
      margin-top: 4vh;
      color: white;
      margin-bottom: 0%;
      font-size: 100%;
    }
  
    .about-text-container-right-2 {
      position: absolute;
      right: 2vw;
      text-align: right;
    }
  
    .about-decoration-box-1,
    .about-decoration-box-3,
    .about-decoration-box-5 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 0;
      top: 20%;
      left: 4%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-2,
    .about-decoration-box-4,
    .about-decoration-box-6 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 1;
      top: 16%;
      left: 12%;
      background: rgba(169, 206, 194, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-3 {
      height: 60%;
      width: 80%;
      top: 14%;
      left: 17%;
      background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
        #4e5860;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-4 {
      height: 60%;
      width: 80%;
      top: 12%;
      left: 12%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-5 {
      height: 60%;
      width: 40%;
      top: 15%;
      left: 6%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-6 {
      height: 60%;
      width: 40%;
      top: 12%;
      left: 2%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-img-1,
    .about-decoration-img-2 {
      height: 60%;
      width: 80%;
      position: absolute;
      box-sizing: border-box;
      z-index: 2;
      top: 18%;
      left: 8%;
      background-color: black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .img-1,
    .img-2,
    .google-maps {
      height: 100%;
      width: 100%;
    }
  
    .about-decoration-img-2 {
      top: 18%;
      left: 15%;
    }
  
    .about-decoration-img-3 {
      height: 18vh;
      width: 35vw;
      top: 18%;
      left: 4%;
    }
  }
  
  /*MEDIUM*/
  @media only screen and (min-width: 768px) {
    .box-headline {
      font-size: 150%;
    }
  
    .information-container {
      position: relative;
      height: 30vh;
      width: 90vw;
      margin-left: 8vw;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      align-self: center;
      margin-top: 2vh;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-content: flex-end;
      padding-right: 2vw;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: info-container-animation-1;
    }
    .information-container:nth-of-type(even) {
      flex-flow: row-reverse;
      align-content: flex-start;
      padding-left: 2vw;
      animation-name: info-container-animation-2;
    }
  
    @keyframes info-container-animation-1 {
      from {
        left: -100vw;
      }
      to {
        left: 0vw;
      }
    }
  
    @keyframes info-container-animation-2 {
      from {
        right: -100vw;
      }
      to {
        right: 0vw;
      }
    }
  
    .information-container:last-of-type {
      margin-bottom: 5vh;
      padding-right: 0px;
    }
  
    .about-box-container-left,
    .about-text-container-left {
      float: left;
      text-align: left;
    }
    .about-box-container-right,
    .about-text-container-right {
      float: right;
      text-align: right;
    }
  
    .about-box-container-left,
    .about-text-container-left,
    .about-box-container-right,
    .about-text-container-right,
    .about-text-container-right-2 {
      position: relative;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
    }
  
    .about-text-container-left,
    .about-text-container-right,
    .about-text-container-right-2 {
      margin-top: 4vh;
      color: white;
      margin-bottom: 0%;
      font-size: 100%;
    }
  
    .about-text-container-right-2 {
      position: absolute;
      right: 2vw;
      text-align: right;
    }
  
    .about-decoration-box-1,
    .about-decoration-box-3,
    .about-decoration-box-5 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 0;
      top: 20%;
      left: 4%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-2,
    .about-decoration-box-4,
    .about-decoration-box-6 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 1;
      top: 16%;
      left: 12%;
      background: rgba(169, 206, 194, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-3 {
      height: 60%;
      width: 80%;
      top: 14%;
      left: 17%;
      background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
        #4e5860;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-4 {
      height: 60%;
      width: 80%;
      top: 12%;
      left: 12%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-5 {
      height: 60%;
      width: 40%;
      top: 15%;
      left: 6%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-6 {
      height: 60%;
      width: 40%;
      top: 12%;
      left: 2%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-img-1,
    .about-decoration-img-2 {
      height: 60%;
      width: 80%;
      position: absolute;
      box-sizing: border-box;
      z-index: 2;
      top: 18%;
      left: 8%;
      background-color: black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .img-1,
    .img-2,
    .google-maps {
      height: 100%;
      width: 100%;
    }
  
    .about-decoration-img-2 {
      top: 18%;
      left: 15%;
    }
  
    .about-decoration-img-3 {
      height: 18vh;
      width: 35vw;
      top: 18%;
      left: 4%;
    }
  }
  
  /*LARGE*/
  @media only screen and (min-width: 992px) {
    .box-headline {
      font-size: 150%;
    }
  
    .information-container {
      position: relative;
      height: 30vh;
      width: 90vw;
      margin-left: 8vw;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      align-self: center;
      margin-top: 2vh;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-content: flex-end;
      padding-right: 2vw;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: info-container-animation-1;
    }
    .information-container:nth-of-type(even) {
      flex-flow: row-reverse;
      align-content: flex-start;
      padding-left: 2vw;
      animation-name: info-container-animation-2;
    }
  
    @keyframes info-container-animation-1 {
      from {
        left: -100vw;
      }
      to {
        left: 0vw;
      }
    }
  
    @keyframes info-container-animation-2 {
      from {
        right: -100vw;
      }
      to {
        right: 0vw;
      }
    }
  
    .information-container:last-of-type {
      margin-bottom: 5vh;
      padding-right: 0px;
    }
  
    .about-box-container-left,
    .about-text-container-left {
      float: left;
      text-align: left;
    }
    .about-box-container-right,
    .about-text-container-right {
      float: right;
      text-align: right;
    }
  
    .about-box-container-left,
    .about-text-container-left,
    .about-box-container-right,
    .about-text-container-right,
    .about-text-container-right-2 {
      position: relative;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
    }
  
    .about-text-container-left,
    .about-text-container-right,
    .about-text-container-right-2 {
      margin-top: 4vh;
      color: white;
      margin-bottom: 0%;
      font-size: 100%;
    }
  
    .about-text-container-right-2 {
      position: absolute;
      right: 2vw;
      text-align: right;
    }
  
    .about-decoration-box-1,
    .about-decoration-box-3,
    .about-decoration-box-5 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 0;
      top: 20%;
      left: 4%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-2,
    .about-decoration-box-4,
    .about-decoration-box-6 {
      height: 60%;
      width: 80%;
      position: absolute;
      z-index: 1;
      top: 16%;
      left: 12%;
      background: rgba(169, 206, 194, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-3 {
      height: 60%;
      width: 80%;
      top: 14%;
      left: 17%;
      background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
        #4e5860;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-4 {
      height: 60%;
      width: 80%;
      top: 12%;
      left: 12%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-5 {
      height: 60%;
      width: 40%;
      top: 15%;
      left: 6%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-6 {
      height: 60%;
      width: 40%;
      top: 12%;
      left: 2%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-img-1,
    .about-decoration-img-2 {
      height: 60%;
      width: 80%;
      position: absolute;
      box-sizing: border-box;
      z-index: 2;
      top: 18%;
      left: 8%;
      background-color: black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .img-1,
    .img-2,
    .google-maps {
      height: 100%;
      width: 100%;
    }
  
    .about-decoration-img-2 {
      top: 18%;
      left: 15%;
    }
  
    .about-decoration-img-3 {
      height: 18vh;
      width: 35vw;
      top: 18%;
      left: 4%;
    }
  }
  
  /*XL*/
  @media only screen and (min-width: 1200px) {
    .box-headline {
      font-size: 150%;
    }
  
    .information-container {
      position: relative;
      height: 33vh;
      width: 65%;
      box-sizing: border-box;
      align-self: center;
      margin-top: 2vh;
      clear: both;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-content: flex-end;
      padding-right: 2vw;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: info-container-animation-1;
    }
    .information-container:nth-of-type(even) {
      flex-flow: row-reverse;
      align-content: flex-start;
      padding-left: 2vw;
      animation-name: info-container-animation-2;
    }
  
    @keyframes info-container-animation-1 {
      from {
        left: -100vw;
      }
      to {
        left: 0vw;
      }
    }
  
    @keyframes info-container-animation-2 {
      from {
        right: -100vw;
      }
      to {
        right: 0vw;
      }
    }
  
    .information-container:last-of-type {
      margin-bottom: 5vh;
    }
  
    .about-box-container-left,
    .about-text-container-left {
      float: left;
      text-align: left;
    }
    .about-box-container-right,
    .about-text-container-right {
      float: right;
      text-align: right;
    }
  
    .about-box-container-left,
    .about-text-container-left,
    .about-box-container-right,
    .about-text-container-right,
    .about-text-container-right-2 {
      position: relative;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
    }
  
    .about-text-container-left,
    .about-text-container-right,
    .about-text-container-right-2 {
      margin-top: 4vh;
      color: white;
      margin-bottom: 0%;
      font-size: 100%;
    }
  
    .about-text-container-right-2 {
      position: absolute;
      right: 2vw;
      text-align: right;
    }
  
    .about-decoration-box-1,
    .about-decoration-box-3,
    .about-decoration-box-5 {
      height: 60%;
      width: 60%;
      position: absolute;
      z-index: 0;
      top: 20%;
      left: 4%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-2,
    .about-decoration-box-4,
    .about-decoration-box-6 {
      height: 60%;
      width: 60%;
      position: absolute;
      z-index: 1;
      top: 16%;
      left: 12%;
      background: rgba(169, 206, 194, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-decoration-box-3 {
      height: 60%;
      width: 60%;
      top: 14%;
      left: 17%;
      background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
        #4e5860;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-4 {
      height: 60%;
      width: 60%;
      top: 12%;
      left: 12%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-5 {
      height: 60%;
      width: 30%;
      top: 15%;
      left: 6%;
      background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
        #a9cec2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-box-6 {
      height: 60%;
      max-height: 400px;
      width: 30%;
      max-width: 400px;
      top: 12%;
      left: 2%;
      background: rgba(78, 88, 96, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .about-decoration-img-1,
    .about-decoration-img-2 {
      height: 60%;
      width: 60%;
      max-width: 300px;
      position: absolute;
      box-sizing: border-box;
      z-index: 2;
      top: 18%;
      left: 8%;
      background-color: black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .img-1,
    .img-2,
    .google-maps {
      height: 100%;
      width: 100%;
    }
  
    .about-decoration-img-2 {
      top: 18%;
      left: 15%;
    }
  
    .about-decoration-img-3 {
      height: 25vh;
      width: 20vw;
      top: 18%;
      left: 4%;
    }
  }
  