.containerContact {
  box-sizing: content-box;
  display: grid;
  flex-flow: column;
  justify-content: center;
}
.contactCard {
  background: #393e41;
  box-shadow: 0vh 4vh 100vh rgba(0, 0, 0, 0.25);
  color: white;
  padding: 40px;
  justify-content: space-between;
  margin: 20px 0 80px 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.contactCardText {
  text-align: center;
}

.BoxOne {
  animation-name: boxOne;
  animation-duration: 4s;
}
@keyframes boxOne {
  0% {
    left: -700px;
  }
  100% {
    left: 0px;
  }
}

.BoxTwo {
  animation-name: boxTwo;
  animation-duration: 4s;
}
@keyframes boxTwo {
  0% {
    right: -700px;
  }
  100% {
    right: 0px;
  }
}

/* formulär */
.kontaktFormulärBakgrund {
  background: #fbfbfb;
  margin-bottom: 5%;
}
.imgBox {
  padding-right: 0px;
  height: 100%;
}
.contactFormText {
  background: #4e5860;
  color: white;
}

input,
textarea {
  width: 90%;
  height: 60px;
  margin: 2%;
  padding-left: 2%;
}

textarea {
  padding-top: 3%;
}

.contact-form-heading {
  font-size: 200%;
  color: white;
  margin: 10% 0 10% 0;
  text-align: center;
}

.form-submit-btn {
  font-size: 150%;
  background: linear-gradient(90deg, #34363a 0%, #34363a 100%);
  box-shadow: 0px 1vh 1vh rgba(0, 0, 0, 0.25);
  color: #e5e5e5;
  border: none;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .imgBox {
    display: none;
  }
}
