body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  display: flex;
  flex-flow: column;
  background-color: #34363a;
}

.chnavbar {
  flex-flow: row;
  justify-items: center;
  align-content: center;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-content: center;
  padding-right: 0px;
  padding-top: 30px;
  padding-left: 100px;
  height: 100px;
  background-color: #181818;
  color: white;
  font-size: 28pt;
}

.kontaktSid-h1 {
  color: white;
  margin-left: 135px;
}

.kontaktSid-box1,
.kontaktSid-box2 {
  width: 480px;
  height: 405px;
  border: 1px solid #a9cec2;
  box-sizing: border-box;
  margin: 20px;
}

.kontaktSid-kontaktBild {
  width: 419px;
  height: 212px;
  margin: 20px 0 0 28px;
}

.kontaktSid-container-content {
  color: white;
  margin-left: 30px;
}

.kontaktSid-container-content a {
  text-decoration: none;
  color: white;
}

.kontaktSid-container-content a:hover {
  color: grey;
}
.kontaktSid-container-boxar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kontaktSid-kontaktformulär,
.kontaktSid-formulärBild {
  background: #85a6a5;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 635px;
  margin-top: 40px;
}
.kontaktSid-formulärBild {
  width: 450px;
  height: 635px;
}

.kontaktSid-container-formulär {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contactInfo {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background: #85a6a5;
  border-bottom: 2px solid white;
  color: white;
}
#contactInfo ::placeholder {
  color: white;
}

#meddelande {
  width: 80%;
  height: 10%;
  border: none;
  border-radius: 5px;
}

form,
.kontaktSid-h2 {
  margin-left: 30px;
  margin-top: 60px;
}

.kontaktSid-h2 {
  color: white;
}

.kontaktSid-btn {
  background: linear-gradient(90deg, #34363a 0%, #34363a 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #e5e5e5;
  width: 83px;
  height: 30px;
  border-radius: 4px;
  border: none;
  justify-content: space-between;
  margin-right: 20px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
  margin-left: 5px;
  border-radius: 2px;
  margin-top: -2px;
}

.navbar-link-container {
  margin-left: 700px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.chfooter {
  background-color: #181818;
  color: white;
  width: inherit;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-bottom: 0px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: inherit;
}

.start-img-container {
  background-color: black;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 900px;
  width: 100vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 0;
}

.start-page-decor-box-1 {
  background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
    #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 700px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: 22%;
  top: 25%;
}

.start-page-decor-box-2 {
  background: rgba(169, 206, 194, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 750px;
  height: 750px;
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 20%;
}
.start-page-info-box {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  background: #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 600px;
  width: 800px;
  z-index: 3;
  position: absolute;
  left: 30%;
  top: 30%;
  padding-bottom: 20px;
}

.start-page-headline {
  font-size: 36pt;
}

.start-page-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #34363a;
  color: white;
  width: 20%;
  height: 10%;
  margin-left: 70%;
  border: none;
  font-size: 14pt;
}

/* Top nav */
.topnav {
  overflow: hidden;
  background-color: #181818;
}
#nav-link {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #85a6a5;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #nav-link {
    float: none;
  }
}

.information-container {
  height: 500px;
  width: 70%;
  border: 1px solid #a9cec2;
  box-sizing: border-box;
  align-self: center;
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  padding-right: 20px;
}
.information-container:nth-of-type(even) {
  flex-flow: row-reverse;
  padding-left: 20px;
}

.information-container:last-of-type {
  margin-bottom: 50px;
}

.about-box-container-left,
.about-text-container-left {
  width: 50%;
  box-sizing: border-box;
  color: white;
  height: 100%;
}

.about-box-container-right,
.about-text-container-right {
  width: 50%;
  box-sizing: border-box;
  color: white;
}

.about-text-container-right:last-of-type {
  padding-right: 0px;
  margin-left: 700px;
}

.about-decoration-box-1,
.about-decoration-box-3,
.about-decoration-box-5 {
  height: 300px;
  width: 280px;
  position: absolute;
  z-index: 0;
  top: 32%;
  left: 30%;
  background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
    #a9cec2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-decoration-box-2,
.about-decoration-box-4,
.about-decoration-box-6 {
  height: 320px;
  width: 350px;
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 25%;
  background: rgba(169, 206, 194, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-decoration-box-3 {
  height: 350px;
  width: 300px;
  top: 89%;
  left: 58%;
  background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
    #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-4 {
  height: 300px;
  width: 400px;
  top: 92%;
  left: 59%;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-5 {
  height: 400px;
  width: 350px;
  top: 142%;
  left: 18%;
  background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
    #a9cec2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-6 {
  width: 400px;
  height: 350px;
  top: 145%;
  left: 22%;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-img-1,
.about-decoration-img-2,
.about-decoration-img-3 {
  height: 300px;
  width: 400px;
  position: absolute;
  z-index: 2;
  top: 29%;
  left: 20%;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-img-2 {
  top: 90%;
  left: 60%;
}

.about-decoration-img-3 {
  top: 148%;
}
