* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  display: flex;
  flex-flow: column;
  background-color: #34363a;
}
/*NAVBAR*/
.chnavbar {
  flex-flow: row;
  justify-items: center;
  align-content: center;
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-content: center;
  padding-right: 0px;
  padding-top: 30px;
  padding-left: 100px;
  height: 100px;
  background-color: #181818;
}
.navchar {
  background-color: #181818;
  color: #ffffff;
  box-shadow: 0vh 4vh 4vh rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.fa-robot {
  color: white;
}

.navbar-link-container {
  margin-left: 60%;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    margin-left: 60%;
    display: flex;
    justify-content: space-evenly;
  }
}
.chnavbar-brand {
  color: white;
  font-size: 28pt;
}
.chnav-link {
  color: white;
  font-size: 28pt;
}

.chnav-link:hover,
.chnavbar-brand:hover {
  cursor: pointer;
  text-decoration: none;
  color: #34363a;
}

.toggle-icon {
  color: white;
  font-size: 28pt;
  margin-right: 40px;
}

.logotype {
  height: 80px;
}
/*FOOTER*/

.chfooter {
  background-color: #181818;
  color: white;
  width: inherit;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-bottom: 0px;
  padding-right: 100px;
  padding-left: 100px;
}

/*SIDCONTAINER*/

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
}

/*EXTRA SMALL DEVICES (MOBIL) - NAVBAR/FOOTER */
@media only screen and (max-width: 600px) {
  /*NAVBAR*/
  .chnavbar {
    max-width: 600px;
    min-width: 300px;
    width: 100vw;
    padding-right: 0px;
    padding-top: 5px;
    padding-left: 10px;
    height: 50px;
  }

  .chnavbar-brand {
    color: white;
    font-size: 1rem;
  }
  .chnav-link {
    color: white;
    font-size: 1rem;
  }

  .chnav-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #34363a;
  }

  .toggle-icon {
    color: white;
    font-size: 1rem;
    margin-right: 5px;
    margin-top: 10px;
  }

  .logotype {
    height: 30px;
  }

  /*FOOTER*/

  .chfooter {
    width: 100vw;
    height: 100px;
    font-size: 0.7rem;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*SMALL DEVICES (STOR MOBIL, SMÅ PADDOR) - NAVBAR/FOOTER */
@media only screen and (min-width: 600px) {
  /*NAVBAR*/
  .chnavbar {
    width: 100vw;
    padding-right: 0px;
    padding-top: 5px;
    padding-left: 10px;
    height: 75px;
  }

  .chnavbar-brand {
    color: white;
    font-size: 2rem;
  }
  .chnav-link {
    color: white;
    font-size: 2rem;
  }

  .chnav-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #34363a;
  }

  .toggle-icon {
    color: white;
    font-size: 2rem;
    margin-right: 5px;
    margin-top: 10px;
  }

  .logotype {
    height: 50px;
  }

  /*FOOTER*/

  .chfooter {
    width: 100vw;
    height: 150px;
    font-size: 1rem;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*LARGE DEVICES (LAPTOP) - NAVBAR/FOOTER */
@media only screen and (min-width: 992px) {
  /*FOOTER*/

  .chfooter {
    width: 100vw;
    height: 150px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*ORIENTATION: LANDSCAPE - NAVBAR/FOOTER*/
@media only screen and (orientation: landscape) {
  /*FOOTER*/

  .chfooter {
    width: 100vw;
    height: 150px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*KONTAKTSIDA*/

.kontaktSid-h1 {
  color: white;
  margin-left: 7vh;
  margin-top: 10vh;
}

.kontaktSid-box1,
.kontaktSid-box2 {
  width: 40%;
  height: 60vh;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0vh 4vh 4vh rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin: 7vh;
  position: relative;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  float: left;
}

.kontaktSid-box1 {
  animation-name: boxOneAnimation;
}

.kontaktSid-box2 {
  animation-name: boxTwoAnimation;
}

@keyframes boxOneAnimation {
  from {
    left: -100vh;
  }
  to {
    left: 0%;
  }
}

@keyframes boxTwoAnimation {
  from {
    right: -100vh;
  }
  to {
    right: 0vh;
  }
}

.kontaktSid-kontaktBild {
  width: 85%;
  height: 30vh;
  margin: 5vh 5vh 0 5vh;
}

.kontaktSid-container-content {
  color: white;
  margin-left: 5vh;
  margin-top: 8vh;
}

.kontaktSid-container-content a {
  text-decoration: none;
  color: white;
}

.kontaktSid-container-content a:hover {
  color: grey;
}

.kontaktSid-kontaktformulär,
.kontaktSid-formulärBild {
  background: #85a6a5;
  box-shadow: 0vh 4vh 100vh rgba(0, 0, 0, 0.25);
  height: 90vh;
  width: 60%;
  float: left;
}
.kontaktSid-formulärBild {
  width: 40%;
}

.kontaktSid-container-formulär {
  margin-top: 10vh;
  margin-bottom: 20vh;
  width: 80%;
  box-shadow: 0vh 4vh 4vh rgba(0, 0, 0, 0.25);
}

.test {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-left: -8%;
}

#contactInfo {
  width: 80%;
  padding: 2vh 2vh;
  box-sizing: border-box;
  border: none;
  background: #85a6a5;
  border-bottom: 0.3vh solid white;
  color: white;
}
#contactInfo ::placeholder {
  color: white;
}

#meddelande {
  width: 90%;
  height: 15vh;
  border: none;
  border-radius: 1vh;
}

form,
.kontaktSid-h2 {
  margin-left: 3vw;
  margin-top: 8vh;
}

.kontaktSid-h2 {
  color: white;
}

.kontaktSid-btn {
  background: linear-gradient(90deg, #34363a 0%, #34363a 100%);
  box-shadow: 0px 1vh 1vh rgba(0, 0, 0, 0.25);
  color: #e5e5e5;
  width: 80px;
  height: 30px;
  border-radius: 1vh;
  border: none;
  justify-content: space-between;
  margin-right: 2vw;
  font-size: 0.7em;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
  margin-left: 5px;
  border-radius: 2px;
  margin-top: -2px;
}

@media only screen and (max-width: 1024px) {
  .kontaktSid-box1,
  .kontaktSid-box2 {
    width: 80%;
  }
  .kontaktSid-kontaktformulär {
    clear: float;
    width: 90%;
    height: 90vh;
    /* margin-left:7px; */
    vertical-align: middle;
  }
  .kontaktSid-formulärBild {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    vertical-align: middle;
  }
  h2 {
    font-size: 25px;
  }
  .kontaktSid-container-formulär {
    width: 90%;
    margin-left: 8vw;
    font-size: 12pt;
  }
  .kontaktSid-kontaktformulär {
    object-fit: cover;
    padding: 0 30px 0 30px;
    margin-left: 5vw;
  }
}
@media only screen and (max-width: 480px) {
  .kontaktSid-container-formulär {
    width: 100%;
  }
  .kontaktSid-kontaktBild {
    margin: 5vh 5vh 0 3vh;
  }
  .kontaktSid-kontaktformulär {
    height: 600px;
  }
}
@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
    vertical-align: middle;
  }

  .container {
    margin: 0;
  }
  .kontaktSid-box1,
  .kontaktSid-box2 {
    width: 100%;
  }
  .kontaktSid-container-formulär {
    width: 100%;
  }
  .kontaktSid-kontaktformulär {
    width: 90%;
    height: 600px;
  }
  .test {
    margin-left: 0;
  }
  form,
  .kontaktSid-h2 {
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    display: grid;
  }
}

/*STARTSIDA*/

.start-img-container {
  background-color: black;
  color: white;
  height: 90vh;
  width: 100vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 0;
}

.start-page-decor-box-1 {
  background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
    #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 700px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: 22%;
  top: 25%;
  animation-name: info-boxOne-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes info-boxOne-animation {
  from {
    left: 700px;
  }
  to {
    left: 300px;
  }
}

.start-page-decor-box-2 {
  background: rgba(169, 206, 194, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 750px;
  height: 750px;
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 20%;
  animation-name: info-boxTwo-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes info-boxTwo-animation {
  from {
    left: -700px;
  }
  to {
    left: 350px;
  }
}
.start-page-info-box {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  background: #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 600px;
  width: 800px;
  z-index: 3;
  position: absolute;
  left: 30%;
  top: 30%;
  padding-bottom: 20px;
  animation-name: info-boxInfo-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes info-boxInfo-animation {
  from {
    top: -700px;
  }
  to {
    top: 230px;
  }
}

.start-page-headline {
  font-size: 36pt;
}

.start-page-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #34363a;
  color: white;
  width: 20%;
  height: 10%;
  margin-left: 70%;
  border: none;
  font-size: 14pt;
}

/*EXTRA SMALL DEVICES (MOBIL) - STARTSIDA */
@media only screen and (max-width: 600px) {
  .start-img-container {
    height: 80vh;
    width: 100vw;
    margin-left: -5vw;
  }

  .start-page-decor-box-1 {
    width: 80vw;
    height: 50vh;
    top: 20vh;
  }
  @keyframes info-boxOne-animation {
    from {
      left: 700px;
    }
    to {
      left: 5vw;
    }
  }

  .start-page-decor-box-2 {
    width: 80vw;
    height: 40vh;
    top: 27vh;
  }

  @keyframes info-boxTwo-animation {
    from {
      left: -700px;
    }
    to {
      left: 10vw;
    }
  }
  .start-page-info-box {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 30vh;
    width: 90vw;
    left: 7%;
    padding-bottom: 5vh;
    font-size: 0.6rem;
  }

  @keyframes info-boxInfo-animation {
    from {
      top: -700px;
    }
    to {
      top: 30vh;
    }
  }

  .start-page-headline {
    font-size: 1rem;
  }

  .start-page-btn {
    width: 50%;
    height: 10%;
    margin-left: 25%;
    font-size: 1rem;
  }
}

/*SMALL DEVICES (STOR MOBIL, SMÅ PADDOR) - STARTSIDA */
@media only screen and (min-width: 600px) {
  .start-img-container {
    height: 80vh;
    width: 100vw;
    margin-left: -7vw;
  }

  .start-page-decor-box-1 {
    width: 80vw;
    height: 50vh;
    top: 20vh;
  }
  @keyframes info-boxOne-animation {
    from {
      left: 700px;
    }
    to {
      left: 5vw;
    }
  }

  .start-page-decor-box-2 {
    width: 80vw;
    height: 40vh;
    top: 27vh;
  }

  @keyframes info-boxTwo-animation {
    from {
      left: -700px;
    }
    to {
      left: 10vw;
    }
  }
  .start-page-info-box {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 30vh;
    width: 90vw;
    left: 7%;
    padding-bottom: 5vh;
    font-size: 0.8rem;
  }

  @keyframes info-boxInfo-animation {
    from {
      top: -700px;
    }
    to {
      top: 30vh;
    }
  }

  .start-page-headline {
    font-size: 1rem;
  }

  .start-page-btn {
    width: 50%;
    height: 10%;
    margin-left: 25%;
    font-size: 1rem;
  }
}

/*MEDIUM DEVICES (PADDA) - STARTSIDA */
@media only screen and (min-width: 768px) {
  .start-img-container {
    height: 80vh;
    width: 100vw;
    margin-left: -5vw;
  }

  .start-page-decor-box-1 {
    width: 80vw;
    height: 50vh;
    top: 20vh;
  }
  @keyframes info-boxOne-animation {
    from {
      left: 700px;
    }
    to {
      left: 5vw;
    }
  }

  .start-page-decor-box-2 {
    width: 80vw;
    height: 40vh;
    top: 27vh;
  }

  @keyframes info-boxTwo-animation {
    from {
      left: -700px;
    }
    to {
      left: 10vw;
    }
  }
  .start-page-info-box {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 30vh;
    width: 90vw;
    left: 7%;
    padding-bottom: 5vh;
    font-size: 1rem;
  }

  @keyframes info-boxInfo-animation {
    from {
      top: -700px;
    }
    to {
      top: 30vh;
    }
  }

  .start-page-headline {
    font-size: 1.5rem;
  }

  .start-page-btn {
    width: 20%;
    height: 10%;
    margin-left: 70%;
    font-size: 1rem;
  }
}

/*LARGE DEVICES (LAPTOP) - STARTSIDA */
@media only screen and (min-width: 992px) {
  .start-img-container {
    height: 80vh;
    width: 100vw;
    margin-left: -5vw;
  }

  .start-page-decor-box-1 {
    width: 80vw;
    height: 50vh;
    top: 10vh;
  }
  @keyframes info-boxOne-animation {
    from {
      left: 700px;
    }
    to {
      left: 5vw;
    }
  }

  .start-page-decor-box-2 {
    width: 80vw;
    height: 40vh;
    top: 17vh;
  }

  @keyframes info-boxTwo-animation {
    from {
      left: -700px;
    }
    to {
      left: 10vw;
    }
  }
  .start-page-info-box {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 30vh;
    width: 90vw;
    left: 7%;
    padding-bottom: 5vh;
    font-size: 1rem;
  }

  @keyframes info-boxInfo-animation {
    from {
      top: -700px;
    }
    to {
      top: 20vh;
    }
  }

  .start-page-headline {
    font-size: 2rem;
  }

  .start-page-btn {
    width: 20%;
    height: 10%;
    margin-left: 70%;
    font-size: 1rem;
  }
}

/*ORIENTATION: LANDSCAPE - STARTSIDA*/
@media only screen and (orientation: landscape) {
  .start-img-container {
    height: 80vh;
    width: 100vw;
    float: left;
    margin-left: -410px;
  }

  .start-page-decor-box-1 {
    width: 50vw;
    height: 50vh;
    top: 18vh;
  }
  @keyframes info-boxOne-animation {
    from {
      left: 700px;
    }
    to {
      left: 25vw;
    }
  }

  .start-page-decor-box-2 {
    width: 60vw;
    height: 50vh;
    top: 25vh;
  }

  @keyframes info-boxTwo-animation {
    from {
      left: -700px;
    }
    to {
      left: 20vw;
    }
  }
  .start-page-info-box {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 50vh;
    width: 50vw;
    left: 27vw;
    padding-bottom: 5vh;
    font-size: 1rem;
  }

  @keyframes info-boxInfo-animation {
    from {
      top: -700px;
    }
    to {
      top: 20vh;
    }
  }

  .start-page-headline {
    font-size: 2rem;
  }

  .start-page-btn {
    width: 20%;
    height: 10%;
    margin-left: 70%;
    font-size: 1rem;
  }
}

/*OMOSS-SIDA*/

.box-headline {
  font-size: 2rem;
}

.information-container {
  position: relative;
  height: 50vh;
  width: 85vw;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  align-self: center;
  margin-top: 5vh;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-right: 10vw;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: info-container-animation-1;
}
.information-container:nth-of-type(even) {
  flex-flow: row-reverse;
  padding-left: 10vw;
  animation-name: info-container-animation-2;
}

@keyframes info-container-animation-1 {
  from {
    left: -100vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes info-container-animation-2 {
  from {
    right: -100vw;
  }
  to {
    right: 0vw;
  }
}

.information-container:last-of-type {
  margin-bottom: 10vh;
}
.about-text-container-left,
.about-text-container-right {
  margin-top: 12%;
}
.about-box-container-left,
.about-text-container-left {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  color: white;
  height: 100%;
}

.about-text-container-right-2 {
  margin-left: 50%;
  margin-top: 10%;
  font-size: 1rem;
  text-align: center;
}

.about-box-container-right,
.about-text-container-right,
.about-text-container-right-2 {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  color: white;
  height: 100%;
}

.about-decoration-box-1,
.about-decoration-box-3,
.about-decoration-box-5 {
  height: 30vh;
  width: 20vw;
  position: absolute;
  z-index: 0;
  top: 12%;
  left: 20%;
  background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
    #a9cec2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-decoration-box-2,
.about-decoration-box-4,
.about-decoration-box-6 {
  height: 30vh;
  width: 20vw;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 25%;
  background: rgba(169, 206, 194, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-decoration-box-3 {
  height: 35vh;
  width: 20vw;
  top: 10%;
  left: 58%;
  background: linear-gradient(180deg, #85a6a5 0%, rgba(255, 255, 255, 0) 100%),
    #4e5860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-4 {
  height: 35vh;
  width: 21vw;
  top: 12%;
  left: 50%;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-5 {
  height: 35vh;
  width: 20vw;
  top: 8%;
  left: 18%;
  background: linear-gradient(180deg, #687e84 0%, rgba(255, 255, 255, 0) 100%),
    #a9cec2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-box-6 {
  width: 25vw;
  height: 35vh;
  top: 12%;
  left: 19%;
  background: rgba(78, 88, 96, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-decoration-img-1,
.about-decoration-img-2,
.about-decoration-img-3 {
  height: 30vh;
  width: 20vw;
  position: absolute;
  box-sizing: border-box;
  content: fill;
  z-index: 2;
  top: 16%;
  left: 28%;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-1,
.img-2 {
  height: inherit;
  width: inherit;
}

.google-maps {
  height: 30vh;
  width: 20vw;
}

.about-decoration-img-2 {
  top: 14%;
  left: 42%;
}

.about-decoration-img-3 {
  top: 15%;
  left: 20%;
}

/*EXTRA SMALL DEVICES (MOBIL) - OMOSS */
@media only screen and (max-width: 600px) {
  .box-headline {
    font-size: 1rem;
  }

  .information-container {
    height: 35vh;
    width: 90vw;
    font-size: 0.6rem;
    margin-top: 1vh;
    padding-right: 5vw;
  }
  .information-container:nth-of-type(even) {
    padding-left: 5vw;
  }

  .information-container:last-of-type {
    margin-bottom: 1vh;
  }
  .about-text-container-left,
  .about-text-container-right {
    margin-top: 20%;
  }

  .about-text-container-right-2 {
    margin-left: 60%;
    margin-top: 40%;
    font-size: 0.7rem;
  }

  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3,
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5,
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 15vh;
    width: 32vw;
    top: 30%;
    left: 10%;
  }

  .about-decoration-box-1 {
    top: 31%;
    left: 12%;
  }
  .about-decoration-box-2 {
    top: 28%;
    left: 8%;
  }
  .about-decoration-box-3 {
    top: 31%;
    left: 25%;
  }

  .about-decoration-box-4 {
    top: 28%;
    left: 23%;
  }

  .about-decoration-box-5 {
    top: 31%;
    left: 8%;
  }

  .about-decoration-box-6 {
    top: 28%;
    left: 12%;
  }

  .google-maps {
    height: 15vh;
    width: 32vw;
  }

  .about-decoration-img-2 {
    left: 20%;
  }
}

/*SMALL DEVICES (STOR MOBIL, SMÅ PADDOR) - OMOSS */
@media only screen and (min-width: 600px) {
  .box-headline {
    font-size: 1.5rem;
  }

  .information-container {
    font-size: 1rem;
  }
  .about-text-container-left,
  .about-text-container-right {
    margin-top: 15%;
  }

  .about-text-container-right-2 {
    margin-top: 40%;
    font-size: 1rem;
  }
}

/*MEDIUM DEVICES (PADDA) - OMOSS */
@media only screen and (min-width: 768px) {
  .box-headline {
    font-size: 2rem;
  }

  .information-container {
    height: 35vh;
    font-size: 1rem;
    padding-right: 2vw;
  }
  .information-container:nth-of-type(even) {
    padding-left: 2vw;
  }
  .about-text-container-right-2 {
    margin-left: 50%;
    margin-top: 35%;
    font-size: 1rem;
  }

  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3,
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5,
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 20vh;
    width: 30vw;
    top: 20%;
    left: 10%;
  }

  .about-decoration-box-1 {
    top: 22%;
    left: 12%;
  }
  .about-decoration-box-2 {
    top: 25%;
    left: 8%;
  }
  .about-decoration-box-3 {
    top: 21%;
    left: 25%;
  }

  .about-decoration-box-4 {
    top: 24%;
    left: 23%;
  }

  .about-decoration-box-5 {
    top: 22%;
    left: 8%;
  }

  .about-decoration-box-6 {
    top: 25%;
    left: 12%;
  }

  .google-maps {
    height: 20vh;
    width: 30vw;
  }

  .about-decoration-img-2 {
    left: 20%;
  }
}

/*LARGE DEVICES (LAPTOP) - OMOSS */
@media only screen and (min-width: 992px) {
  .box-headline {
    font-size: 2rem;
  }

  .information-container {
    height: 35vh;
    width: 90vw;
    font-size: 1.3rem;
    margin-top: 1vh;
    padding-right: 5vw;
  }
  .information-container:nth-of-type(even) {
    padding-left: 5vw;
  }

  .information-container:last-of-type {
    margin-bottom: 1vh;
  }
  .about-text-container-left,
  .about-text-container-right {
    margin-top: 25%;
  }

  .about-text-container-right-2 {
    margin-left: 50%;
    margin-top: 38%;
    font-size: 1.3rem;
  }

  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3,
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5,
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 20vh;
    width: 32vw;
    top: 20%;
    left: 10%;
  }

  .about-decoration-img-2 {
    left: 20%;
  }

  .google-maps {
    height: 20vh;
    width: 32vw;
  }
  .about-decoration-box-1 {
    top: 25%;
    left: 8%;
  }
  .about-decoration-box-2 {
    top: 22%;
    left: 12%;
  }
  .about-decoration-box-3 {
    top: 24%;
    left: 25%;
  }

  .about-decoration-box-4 {
    top: 22%;
    left: 23%;
  }

  .about-decoration-box-5 {
    top: 25%;
    left: 8%;
  }

  .about-decoration-box-6 {
    top: 22%;
    left: 12%;
  }
}

/*ORIENTATION: LANDSCAPE - OMOSS*/
@media only screen and (orientation: landscape) {
  .box-headline {
    font-size: 2rem;
  }

  .information-container {
    height: 50vh;
    width: 90vw;
    font-size: 1.5rem;
    margin-top: 1vh;
    padding-right: 5vw;
  }
  .information-container:nth-of-type(even) {
    padding-left: 5vw;
  }

  .information-container:last-of-type {
    margin-bottom: 1vh;
  }
  .about-text-container-left,
  .about-text-container-right {
    margin-top: 20%;
  }

  .about-text-container-right-2 {
    margin-left: 60%;
    margin-top: 20%;
    font-size: 1.5rem;
  }

  .about-decoration-img-1,
  .about-decoration-img-2,
  .about-decoration-img-3,
  .about-decoration-box-1,
  .about-decoration-box-3,
  .about-decoration-box-5,
  .about-decoration-box-2,
  .about-decoration-box-4,
  .about-decoration-box-6 {
    height: 30vh;
    width: 28vw;
    top: 20%;
    left: 10%;
  }

  .google-maps {
    height: 30vh;
    width: 28vw;
  }

  .about-decoration-img-2 {
    left: 20%;
  }
  .about-decoration-box-1 {
    top: 25%;
    left: 12%;
  }
  .about-decoration-box-2 {
    top: 22%;
    left: 8%;
  }
  .about-decoration-box-3 {
    top: 26%;
    left: 22%;
  }

  .about-decoration-box-4 {
    top: 22%;
    left: 24%;
  }

  .about-decoration-box-5 {
    top: 21%;
    left: 8%;
  }

  .about-decoration-box-6 {
    top: 25%;
    left: 12%;
  }
}
